@charset "utf-8";
/* CSS Document */

#panel {
	width: 830px;
	margin-right: auto;
	margin-left: auto;
	background-color: #B5B5B5;
	opacity: .90;
	filter: alpha(opacity=75);
	-ms-filter: "alpha(opacity=75)";
	-webkit-border-radius: 0px 20px 0px 20px;
	-moz-border-radius: 0px 20px 0px 20px;
	border-radius: 0px 20px 0px 20px;
	background-image: url(img/pn.jpg);
	background-repeat: repeat;
	border-top-width: 2px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
	padding: 10px;
}
a.menu:link {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #333;
	padding: 5px;
	width: 100px;
}
a.menu:visited {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #333;
	padding: 5px;
}
a.menu:hover {
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #CC0000;
	padding: 5px;
}



body {
	background-image: url(img/bg.jpg);
	background-repeat: repeat;
}
button.orange, a.orange, input[type=submit].orange {
    padding: 10px 30px;
    -webkit-border-radius: 2px 2px;
    border: solid 0px rgb(153, 153, 153);
    background: #d64937; /* Old browsers */
    background: -moz-linear-gradient(top,  #d64937 0%, #d14836 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d64937), color-stop(100%,#d14836)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d64937 0%,#d14836 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d64937 0%,#d14836 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d64937 0%,#d14836 100%); /* IE10+ */
    background: linear-gradient(top,  #d64937 0%,#d14836 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d64937', endColorstr='#d14836',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-size:11px;
    line-height: 1;
}
 
button.orange:hover, a.orange:hover, input[type=submit].orange:hover {
    padding: 9px 29px;
    border: 1px solid #b0281a;
    background: #dd4b39; /* Old browsers */
    background: -moz-linear-gradient(top,  #dd4b39 0%, #c53727 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd4b39), color-stop(100%,#c53727)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* IE10+ */
    background: linear-gradient(top,  #dd4b39 0%,#c53727 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd4b39', endColorstr='#c53727',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 1px 1px #333333;
    -moz-box-shadow: 0 1px 1px #333333;
    box-shadow: 0 1px 1px #333333;
}
 
button.orange:active, a.orange:active, input[type=submit].orange:active {
    padding: 9px 29px;
    border: 1px solid #b0281a;
    -webkit-box-shadow: inset 0 0 8px 4px rgb(197, 55, 39), 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px rgb(197, 55, 39), 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px rgb(197, 55, 39), 0 1px 0 0 #eeeeee; 
}
#top {
	font-size: 24px;
	font-weight: bold;
	color: #000;
	background-image: url(img/top.png);
	background-repeat: no-repeat;
	margin-top: 50px;
	margin-right: 10px;
	margin-bottom: 50px;
	margin-left: 10px;
	padding: 30px;
}
#copy {
	font-size: 14px;
	font-weight: bold;
	color: #333;
}
